[Desktop Entry]
Version=0.17.6
Name=Talan Core Testnet
Comment=Connect to the Talan P2P Network Testnet
Exec=talan-qt -testnet %u
Terminal=false
Type=Application
Icon=talantestnet128
MimeType=x-scheme-handler/talan;
Categories=Network;
StartupWMClass=Talan-qt-testnet
Name[en_US]=talan-qt-testnet
